{
	"presets": [
		"babel-preset-expo"
	],
	"plugins": [
		[
			"import",
			{
				"libraryName": "antd-mobile"
			},
			{
				"libraryName": "wya-rc",
				"libraryDirectory": "lib/native"
			}
		],
		[
			"module-resolver",
			{
				"root": ["./src"],
				"extensions": [".js", ".ios.js", ".android.js"],
				"alias": {
					"@css": "./src/css",
					"@images": "./src/images",
					"@actions": "./src/pages/actions",
					"@components": "./src/pages/components",
					"@common":"./src/pages/components/_common",
					"@constants": "./src/pages/constants",
					"@containers": "./src/pages/containers",
					"@middleware": "./src/pages/middleware",
					"@reducers": "./src/pages/reducers",
					"@router": "./src/pages/router",
					"@stores": "./src/pages/stores",
					"@utils": "./src/pages/utils",
					"pure-render-decorator": "./src/pages/utils/pure-render-decorator"
				}
			}
		],
		[
			"transform-decorators-legacy"
		]
	],
	"env": {
		"development": {
			"plugins": [
				"transform-react-jsx-source"
			]
		}
	}
}
